<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
</head>
<body>
    title: {{property.title}}
    <br>
    description:{{property.description}}
    <br>
    {%if property.image%}
    <br>
        image: <img src="{{property.image.url}}" alt="" style ="width: 200px;">
        <br>
    {%else%}
        <p>No image available</p>
    {%endif%}
    price:{{property.price}}
</body>
</html>